.container {
    top: 0;
    display: grid;
    position: fixed;
    background-color: hsla(0, 0%, 30%, 0.5);
    width: 100vw;
    height: 100vh;
    /* opacity: 0; */
}

.card {
    margin: auto;
    text-align: center;
    border: 1rem solid red;
    border-radius: 6px;
    max-width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 3px 3px 3px grey;
    background: #FFFFFF;
}

.container.open {
    opacity: 1;
}