.data,
.card,
.wrapper,
.birthday,
.icons-container {
  display: flex;
}

.edit,
.card,
.delete,
.birthday,
.edit:hover,
.delete:hover,
.card:hover,
.birthday:hover {
  transition: all ease-in 0.2s;
}

.card,
.birthday,
.wrapper {
  align-items: center;
  flex-wrap: wrap;
}

.card,
.birthday {
  justify-content: space-between;
}

.data {
  gap: 16px;
  flex-direction: column;
}

.card {
  background-color: #ffffff;
}

.wrapper {
  gap: calc(39px / 2);
}

.edit,
.delete {
  max-width: 27px;
}

.edit,
.delete,
button {
  cursor: pointer;
}

.edit:hover,
.delete:hover {
  transform: scale(1.1);
}

.icons-container {
  align-items: flex-end;
  margin-top: calc(38px / 2);
}

.card,
.birthday {
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: calc(43px / 4);
  padding-right: calc(23px / 4);
  padding-top: 8px;
  padding-bottom: 8px;
}

.card:hover,
.birthday:hover {
  box-shadow: 2px 2px 7px black;
}

.rounded-circle:hover {
  box-shadow: 2px 2px 5px black;
}

.birthday {
  background-color: pink;
}

.days-remaining,
.person-name,
.birthdate {
  margin: 0;
}

.days-remaining {
  margin-bottom: calc(38px / 2);
}

.person-name {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.birthdate,
.days-remaining {
  font-weight: 500;
  font-size: 16px;
  color: #5f6c7b;
}

.person-age {
  color: #ef4565;
}

.icons-container {
  gap: 22px;
}

@media (min-width: 300px) {
  .data {
    gap: 31px;
  }

  .person-name {
    font-size: 24px;
  }

  .birthdate,
  .days-remaining {
    font-size: 18px;
  }

  .card {
    padding-left: calc(43px / 2);
    padding-right: calc(23px / 2);
  }

  .wrapper {
    gap: 39px;
  }
}

@media (min-width: 650px) {
  .person-name {
    font-size: 36px;
  }

  .birthdate,
  .days-remaining {
    font-size: 24px;
  }

  .card,
  .birthday {
    padding-left: 43px;
    padding-right: 23px;
  }

  .icons-container {
    justify-content: flex-end;
  }
}
