body {
  margin: auto;
  background-color: #d8eefe;
}

*,
body {
  font-family: "Rubik";
}

.table,
.form-container,
h1 {
  max-width: 779px;
  margin: auto;
}

h1,
.person-name,
.confirmation {
  font-weight: bold;
  line-height: 76px;
  font-size: 32px;
  color: #094067;
}

button {
  border: none;
  border-radius: 5px;
}

img,
input,
select {
  width: 100%;
}

img {
  border-radius: 5px;
  max-width: 100px;
  /* min-width: 70px; */
}

figure {
  margin: 0;
}

@media (min-width: 300px) {
  h1,
  .person-name,
  .confirmation {
    font-size: 42px;
  }
}

@media (min-width: 600px) {
  h1,
  .person-name,
  .confirmation {
    font-size: 64px;
  }
}
