body {
  margin: auto;
  background-color: #D8EEFE;
}

*, body {
  font-family: 'Rubik';
}

.table,
.form-container,
h1 {
  max-width: 779px;
  margin: auto;
}

img,
input,
select {
  width: 100%;
}

img {
    border-radius: 5px;
    max-width: 100px;
    /* min-width: 70px; */
}

figure {
  margin: 0;
}