.form-container {
  margin-top: 42px;
  margin-bottom: 42px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-form {
  width: 100%;
  align-items: flex-end;
  gap: 16px;
}

/* form {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.search-form select,
.search-form input,
.add-button {
  background: #fffffe;
  border-radius: 5px;
  border: none;
  height: 50px;
}

.search-form input,
.search-form select {
    max-width: 249px;
}

.search-form input {
    padding-left: 20px;
}

.add-button {
  background: #ef4565;
  height: unset;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 11px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fffffe;
}
