.form-container {
  margin-top: 42px;
  margin-bottom: 42px;
}

.search-form,
.buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-form {
  width: 100%;
  align-items: flex-end;
  gap: 16px;
}

.search-form select,
.search-form input,
.save {
  background: #fffffe;
  border-radius: 5px;
  border: none;
  height: 50px;
}

.search-form input,
.search-form select {
  max-width: 249px;
}

.search-form input {
  padding-left: 20px;
  max-width: -webkit-fill-available;
}

.add-button,
.save,
.cancel,
.delete-confirm,
.undelete {
  height: unset;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 11px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.delete-confirm,
.save,
.add-button {
  background: #ef4565;
  color: #fffffe;
}

.save,
.cancel,
.undelete,
.delete-confirm {
  width: 158px;
  max-height: 50px;
  margin-top: 29px;
}

.undelete,
.cancel {
  color: #5f6c7b;
  background-color: #ffffff;
  border: 2px solid #5f6c7b;
  box-sizing: border-box;
}

.edit-field {
  width: 100%;
  max-width: 470px;
}

.edit-field label {
  display: flex;
  flex-direction: column;
}

.person.name {
  color: #094067;
}
