.add-new-person,
.container,
.edit-form {
  top: 0;
  display: grid;
  position: fixed;
  background-color: hsla(0, 0%, 30%, 0.5);
  width: 100vw;
  height: 100vh;
}

.edit-field {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
    border: none;
    border-radius: 6px;
    background-color: #ffffff;
  }
  
  .delete-card {
    margin: auto;
    text-align: center;
    border: 1rem solid red;
    border-radius: 6px;
    max-width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 3px 40px black;
    background-color: #ffffff;
  }
  
  .edit-field input {
    height: 50px;
    background: #d8eefe;
    border-radius: 5px;
    max-width: 100%;
    border: none;
    max-width: 264px;
  }
  

  .edit-field label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #094067;
  }