.add-new-person,
.container,
.edit-form {
  top: 0;
  display: grid;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100vh;
}

.edit-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding-bottom: 53px;
  padding-top: 17px;
}

.delete-card {
  margin: auto;
  text-align: center;
  border-radius: 5px;
  max-width: 750px;
  padding: 17px;
  background-color: #ffffff;
}

.delete-card .buttons {
  display: flex;
  gap: 8px;
  max-width: 340px;
  margin: auto;
}

.edit-field input {
  height: 36px;
  background: #d8eefe;
  border-radius: 5px;
  max-width: 264px;
  max-width: -webkit-fill-available;
  border: none;
}

.edit-field input,
.edit-field-wrapper {
  margin: auto;
}

.edit-field label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #094067;
  margin-top: 16px;
}

.clear {
  max-width: 29px;
  align-self: flex-end;
  cursor: pointer;
}

.clear-wrapper {
  max-width: 29px;
  margin-right: 0;
  margin-left: auto;
}

@media (min-width: 300px) {
  .edit-field input {
    height: 50px;
  }
  
  .edit-field {
    gap: 16px;
  }

  .delete-card div {
    gap: 16px;
  }
}
